body {
    display: grid;
    place-content: center;
    background-color: gray;
}

.card {
    --card-width: 30rem;
    width: var(--card-width);
    height: calc(var(--card-width) / 1.75);
    padding: 1rem;
    border: 1px solid #333;
    border-radius: .5rem;
    background-color: gainsboro;
    transition: width .3s ease-in-out, height .3s ease-in-out;
}
.cardImage {
    width: 30%;
}

@media (max-width: 32rem) {
    .card {
        --card-width: 17rem;
        height: calc(var(--card-width) * 1.75);
    }
}
@media (min-width: 32rem) {
    .card {
        
    }
}